<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <a href="#/stock">
                                <div class="pull-left"><i class="glyphicon glyphicon-warning-sign"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.notificationTypeCounter.stock}}</span>
                                    Products low in stock
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>

                        <li class="borange">
                            <a href="#/credits">
                                <div class="pull-left"><i class="glyphicon glyphicon-credit-card"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.notificationTypeCounter.credits}}</span>
                                    Pending <br /> credits
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>

                        <li class="bblue">
                            <a href="#/products">
                                <div class="pull-left"><i class="glyphicon glyphicon-flag"></i></div>
                                <div class="datas-text pull-right">
                                    <span class="bold">{{vm.notificationTypeCounter.products}}</span>
                                    Products low in sales
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wblack">
                        <div data-cc-widget-header title="Latest bank transactions"
                             href="#/transactions"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="trn in vm.transactions">
                                        <td>{{trn.transdate}}</td>
                                        <td>{{trn.typename}}</td>
                                        <td>{{trn.transno}}</td>
                                        <td>{{trn.banktranstype}}</td>
                                        <td>{{trn.currcode}}</td>
                                        <td>{{trn.amount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix">
                                <a href="#/transactions">See more...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wblack">
                        <div data-cc-widget-header title="Orders history"
                             href="#/orders"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Order No.</th>
                                        <th>Customer</th>
                                        <th>Branch</th>
                                        <th>Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="st in vm.orders">
                                        <td>{{st.orderno}}</td>
                                        <td>{{st.name}}</td>
                                        <td>{{st.brname}}</td>
                                        <td>{{st.orddate}}</td>
                                        <td>{{st.ordervalue}}</td>
                                        <td>
                                            <i class="glyphicon"
                                               ng-class="{'glyphicon-ok text-success':st.completed, 'glyphicon-transfer text-warning':!st.completed}">
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix">
                                <a href="#/orders">See more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="container-fluid">
            <h4 class="page-header">Notifications</h4>
            <div class="row" ng-repeat="ntf in vm.notifications">
                <div class="col-sm-12" ng-mouseover="ntf.isNew=false">
                    <p ng-class="{'bg-warning':ntf.isNew}">
                        <label class="label label-default">{{ntf.dateAndTime | date:'medium'}}</label>
                        {{ntf.message}}
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>