<section ng-controller="transactions as vm">
    <nav ng-include="'app/templates/navigation.html'"></nav>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Referencia</th>
                <th>No.</th>
                <th></th>
                <th>Moneda</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="trn in vm.transactions">
                <td>{{trn.transdate}}</td>
                <td>{{trn.typename}}</td>
                <td>{{trn.ref}}</td>
                <td>{{trn.transno}}</td>
                <td>{{trn.banktranstype}}</td>
                <td>{{trn.currcode}}</td>
                <td>{{trn.amount}}</td>
            </tr>
        </tbody>
    </table>
</section>