<section ng-controller="transactions as vm">
    <nav ng-include="'app/templates/navigation.html'"></nav>
    
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group input-group-sm">

                    <input ng-model="vm.filters.transType" type="text" class="form-control" placeholder="Transaction type" aria-describedby="sizing-addon3">
                    <span class="input-group-addon" id="sizing-addon3"><i class="glyphicon glyphicon-search"></i></span>

                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    
                    <input ng-model="vm.filters.dateFrom" type="date" class="form-control" placeholder="Date [from]" aria-describedby="sizing-addon3">
                    <span class="input-group-addon" id="sizing-addon3"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input ng-model="vm.filters.dateTo" type="date" class="form-control" placeholder="Date [to]" aria-describedby="sizing-addon3">
                    <span class="input-group-addon" id="sizing-addon3"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            
        </div>
        <nav class="pull-right">
            <pagination ng-model="vm.filters"
                        ng-change="vm.refresh()" 
                        ng-collection="vm.transactions"></pagination>
        </nav>
    </section>
    <div class="padding">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Reference</th>
                    <th>No.</th>
                    <th></th>
                    <th>Currency</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="trn in vm.transactions">
                    <td>{{trn.transdate}}</td>
                    <td>{{trn.typename}}</td>
                    <td>{{trn.ref}}</td>
                    <td>{{trn.transno}}</td>
                    <td>{{trn.banktranstype}}</td>
                    <td>{{trn.currcode}}</td>
                    <td>{{trn.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>