<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{vm.title}}</a>
        </div>
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
            <ul class="nav navbar-nav">
                <li><a class="btn btn-sm btn-toolbar" href="#/"><i class="glyphicon glyphicon-circle-arrow-left"></i> Notificaciones</a></li>
                <li>
                    <a class="btn btn-sm btn-toolbar" href="#/stock"><i class="glyphicon glyphicon-warning-sign"></i> 50</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-toolbar" href="#/credits"><i class="glyphicon glyphicon-credit-card"></i> 0</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-toolbar" href="#/products"><i class="glyphicon glyphicon-flag"></i> 30</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
